<header class="flex place-content-between shadow-xl border-b">
  <div class="flex p-2">
    <a href="/" class="flex hover:text-gray-400 cursor-pointer">
      <span class="text-2xl font-semibold pl-1 pr-1" title="Coder's Coffee House">
        CCH
      </span>
      <svg class="fill-current h-8 py-1" viewBox="-10 0 660 512">
        <use href="/assets/img/coffee.svg#x" />
      </svg>
    </a>
  </div>
  <nav class="flex w-full h-full place-items-center justify-center">
    <ul class="flex text-xl">
      <li class="pr-2 hover:text-gray-400 cursor-pointer">
        <a href="/">Home</a>
      </li>
      <li class="pr-2">|</li>
      <li class="pr-2 hover:text-gray-400 cursor-pointer">
        <a href="/about">About</a>
      </li>
    </ul>
  </nav>

  <div></div>
</header>
